body {
    background-color: #e9ecef;
}

#burger-icon {
    max-width: 150px;;
}

#main-content {
    max-width: 400px;
}

#added-burger {
    background-color: white;
    min-width: 280px;
}
#devoured-burger {
    background-color: white;
    text-decoration: line-through;
    color: gray;
}
 .burger {
     max-width: 280px;
 }